# Chapter 2 - Data Preparation Basics
## Segment 3 - Removing duplicates

In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Removing duplicates

In [3]:
DF_obj = DataFrame({'Columna 1':[1,1,2,2,3,3,3],
                    'Columna 2':['a','a','b','b','c','c','c'],
                    'Columna 3':['A','A','B','B','C','C','C']})
DF_obj

   Columna 1 Columna 2 Columna 3
0          1         a         A
1          1         a         A
2          2         b         B
3          2         b         B
4          3         c         C
5          3         c         C
6          3         c         C

In [6]:
## Este comando nos dice que filas estan exactamente iguales a alguna del dataframe.
## Vemos que la fila 0 es distinta a las demás (por ser la primera), por eso devuelve un False.
## La fila 1 es igual a la 0, por lo que devuelve un True.
## La fila 2 es distinta a las anteriores, por lo que va a devolver un False. Y la 3 es igual a la 2
## por lo que devolverá un True.
## 4 es distinta a las demas, 5 y 6 son iguales a la 4, por lo que devolveran un False.
DF_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [8]:
## Borra todas las filas duplicadas, dejando solamente la original, osea la que era False.
DF_obj.drop_duplicates()

   Columna 1 Columna 2 Columna 3
0          1         a         A
2          2         b         B
4          3         c         C

In [10]:
DF_obj = DataFrame({'Columna 1':[1,1,2,2,3,3,3],
                    'Columna 2':['a','a','b','b','c','c','c'],
                    'Columna 3':['A','A','B','B','C','D','D']})
DF_obj

   Columna 1 Columna 2 Columna 3
0          1         a         A
1          1         a         A
2          2         b         B
3          2         b         B
4          3         c         C
5          3         c         D
6          3         c         D

In [12]:
DF_obj.drop_duplicates(['Columna 3'])

   Columna 1 Columna 2 Columna 3
0          1         a         A
2          2         b         B
4          3         c         C
5          3         c         D