# Chapter 7 - Collaborative Analytics with Plotly
## Segment  2 - Creating statistical charts
#### Setting up to use Plotly within Jupyter

In [6]:
import numpy as np
import pandas as pd

import cufflinks as cf
import chart_studio
from chart_studio import plotly as py
import plotly.tools as tls
import plotly.graph_objs as go

import sklearn
from sklearn.preprocessing import StandardScaler

In [7]:
chart_studio.tools.set_credentials_file(username='panasabena', api_key='OC4ywuWCTAGfpu5Fuz9t')

### Creating histograms
#### Make a histogram from a pandas Series object

In [11]:
address = r'C:\Users\fsabena\OneDrive - MicroStrategy, Inc\Capacitaciones y Cursos\Python for Data Science (Linkedin Learning)\Ex_Files_Python_Data_Science_EssT_Pt_1\Exercise Files\Data\mtcars.csv'
cars = pd.read_csv(address)
## Este comando me sirve para cambiarle el nombre a la columna que estaba como 'Unnamed: 0'
cars.rename( columns={'Unnamed: 0':'car_names'}, inplace=True )
#cars.columns = ['car_names','mpg','cyl','disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head(5)

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [12]:
mpg = cars.mpg
mpg.iplot(kind='histogram', filename='simple-histogram-chart')

In [14]:
cars_subset = cars[['mpg','disp','hp']]
cars_data_std = StandardScaler().fit_transform(cars_subset)
pd.DataFrame(cars_data_std)
cars_select = pd.DataFrame(cars_data_std)
cars_select.columns = ['mpg','disp','hp']
cars_select.iplot(kind='histogram', filename = 'multiple-histogram-chart')

In [15]:
cars_select.iplot(kind='histogram', subplots = True, filename = 'subplot-histograms')

In [16]:
cars_select.iplot(kind='histogram', subplots = True,shape=(3,1), filename = 'subplot-histograms')

### Creating box plots

In [17]:
cars_select.iplot(kind='histogram', subplots = True,shape=(1,3), filename = 'subplot-histograms')

### Creating box plots

In [18]:
cars_select.iplot(kind='box', filename = 'box-plots')

### Creating scatter plots

In [21]:
## Markers parameter tells Plotly not to fill in all of the lines between the points in order to generate a scatter plot.

fig = {'data':[{'x':cars_select.mpg, 'y':cars_select.disp, 'mode':'markers', 'name':'mpg'},
              {'x':cars_select.hp, 'y':cars_select.disp, 'mode':'markers', 'name':'hp'}],
              'layout':{'xaxis':{'title':''},'yaxis':{'title':'Standardized Displacement'}}}
py.iplot(fig, filename = 'grouped-scatter-plot')